<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>modular-2 system setup</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/default.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <script src="/js/jquery-3.4.1.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
  </head>
  
 <body class="container">
   <!-- Image and text -->
   <nav class="navbar fixed-top  navbar-default ">
      <a class="nav-link" href="/views/index.html"><i class="icon-home icon-2x "> </i>主页</a>
      <a class="navbar-brand" href="#">modbus设置</a>
      <a class="nav-link  pull-right" href="#"><i class="icon-cogs icon-2x"> </i>设置</a>
    </nav>  

  </body>
  </html>